# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
*.pyc

# Env secrets
backend/.env

# Database (на Railway будет своя, локальную не коммитим)
backend/plant_disease.db

# Node
frontend/node_modules/
frontend/build/

# OS
.DS_Store
Thumbs.db